# IDE for VSCode
.vscode
.settings
.classpath
.project
out
bin

# IDE for IDEA
.idea
*.iml

.gradle

# Package Files #
*.war
*.ear
*.ipr
*.iws
target
build
classes

log
LOG_PATH_IS_UNDEFINED
rebel.xml
rebel-remote.xml

